<div class='container-fluid mt-5'>
  <div class='row'>
    <div class='col-md-10 col-12 m-auto'>
      <div class='row'>
        <div
          class='col-md-6 col-12 about-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column'
        >
          <div>
            <div>
              <h1>About us</h1>
              <p>You need to have a business website when you start thinking
                about eastablishing an online business! though it seems
                difficult to new users but we make them easier than easiest. We
                show our clients how to control the website, How to do small
                customization and changes. When we founded Tech Webbing, We made
                our minds think of our clients more than a customer. Throughout
                our journey, We gathered a lot of achievements, client
                satisfaction, and of course excellent results. We don&rsquo;t
                leave our clients until they get what they expected from us. we
                have a lot of clients all over the world still having our
                service just because they love to work with us. We definitely
                give our best to have a great journey together!</p>
            </div>
          </div>
        </div>
        <div class='col-md-6 col-12 hero-text order-md-0 order-1'>
          <figure>
            <img src='images/2.png' />
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>